* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    background: #154743;
}

main {
    margin-top: 25px;
}

.block {
    background: black;
    height: 30px;
    border-top: 1px solid rgba(255, 0, 0, 0.76);
    border-bottom: 1px solid rgba(255, 0, 0, 0.76);
}

.flex {
    display: flex;
    height: 100px;
}

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100%;
} */

.logo {
    padding: 0 20px 0 40px;
}

.logo2 {
    padding-top: 25px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo2 img {
    width: 170px;
    height: 50px;
}

.product {
    padding: 0;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
    justify-content: center;
}

.container {
    margin: 0;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background: #e5e5e5;
    box-shadow: 0 0 14px rgba(255, 0, 0, 0.76);
    text-align: center;
    transition: 0.4s;
}

.container img {
    padding: 20px 20px 0 20px;
    width: 250px;
    height: 250px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 28px;
    transition: 0.4s ease-in;
}

.price {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.76);
    display: block;
}

h3 {
    margin: 10px 0 10px 0;
}

.container:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}

.container:hover .button {
    background: rgba(255, 0, 0, 0.76);
}

footer {
    height: 100px;
    background: black;
    margin-top: 25px;
    border-top: 1px solid rgba(255, 0, 0, 0.76);
}

.logos_block {
    margin-left: 40px;
}

.logo_shop {
    margin-right: 20px;
    width: 170px;
    height: 70px;
}

.logo_site {
    width: 170px;
    height: 70px;
}