* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 769px) {

    .header {
        display: flex;
        align-items: center;
        height: calc(80 / 1440 * 100vw);
        box-shadow: 0px calc(4 / 1440 * 100vw) calc(4 /1440 * 100vw) rgba(0, 0, 0, 0.25);
    }
    
    .header-logo {
        padding-left: calc(30 / 1440 * 100vw);
        padding-top: calc(18 / 1440 * 100vw);
        padding-bottom: calc(12 / 1140 * 100vw);
    }
    
    .header-logo img {
        width: calc(222 / 1440 * 100vw);
        height: calc(50 / 1440 * 100vw);
    }
    
    .header-title {
        padding-left: calc(30 / 1440 * 100vw);
        padding-top: calc(21 / 1440 * 100vw);
        padding-bottom: calc(15 / 1140 * 100vw);
    }
    
    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(36 / 1440 * 100vw);
        color: #787878;
    }
    
    .header-login {
        display: flex;
        align-items: center;
        padding-left: calc(628 / 1440 * 100vw);
        padding-top: calc(25 / 1440 * 100vw);
        padding-bottom: calc(26 / 1440 * 100vw);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(24 / 1440 * 100vw);
        color: #787878;
    }
    
    .header-login__entry {
        padding-left: calc(28 / 1440 * 100vw);
    }
    
    a {
        text-decoration: none;
        color: #787878;
    }
    
    .header-login__registration a:focus {
        color: #1A226B;
    }

    .header-login__entry a:focus {
        color: #1A226B;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(87 / 1440 * 100vw);
        margin-right: auto;
        margin-bottom: calc(129 / 1440 * 100vw);
        margin-left: auto;
        width: calc(600 / 1440 * 100vw);
        height: calc(875 / 1440 * 100vw);
        box-shadow: 0px 0px calc(40 / 1440 * 100vw) calc(10 / 1440 * 100vw) rgba(0, 0, 0, 0.25);
    }

    .container__title {
        margin-top: calc(26 / 1440 * 100vw);
        margin-bottom: calc(36 / 1440 * 100vw);
    }

    h2 {
        font-size: calc(50 / 1440 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #787878;
    }

    .container__form-email {
        position: relative;
        width: calc(510 / 1440 * 100vw);
        height: calc(49 / 1440 * 100vw);
        margin-bottom: calc(32 / 1440 * 100vw);
    }

    .container__form-password {
        position: relative;
        width: calc(510 / 1440 * 100vw);
        height: calc(49 / 1440 * 100vw);
        margin-bottom: calc(32 / 1440 * 100vw);
    }

    .container__form-confirm {
        position: relative;
        width: calc(510 / 1440 * 100vw);
        height: calc(49 / 1440 * 100vw);
        margin-bottom: calc(11 / 1440 * 100vw);
    }

    .container__form-email input,
    .container__form-password input,
    .container__form-confirm input {
        width: 100%;
        height: 100%;
        padding-left: calc(15 / 1440 * 100vw);
        font-weight: 700;
        font-size: calc(28 / 1440 * 100vw);
        border: 2px solid #787878;
        color: #787878;
        outline: none;
    }
    .container__form-email input::placeholder {
        color: #CCCCCC;
    }

    .container__form-password input::placeholder {
        color: #CCCCCC;
    }

    .container__form-confirm input::placeholder {
        color: #CCCCCC;
    }

    .container__form-email label,
    .container__form-password label,
    .container__form-confirm label {
        position: absolute;
        top: calc(-21 / 1440 * 100vw);
        left: calc(-12 / 1440 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 1440 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-error__email,
    .container__form-error__password, 
    .container__form-error__confirm {
        position: absolute;
        top: calc(-21 / 1440 * 100vw);
        right: 0;
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 1440 * 100vw);
        font-weight: 700;
        color: #EE2424;
    }

    .container__form-email input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-password input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-confirm input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-radio_title {
        margin-bottom: calc(5 / 1440 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 1440 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-radio_man,
    .container__form-radio_woman {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: calc(13 / 1440 * 100vw);
        width: calc(510 / 1440 * 100vw);
        height: calc(20 / 1440 * 100vw);
    }

    .container__form-radio_man input,
    .container__form-radio_woman input {
        width: calc(20 / 1440 * 100vw);
        height: calc(20 / 1440 * 100vw);
        border: 2px solid #787878;
        visibility: hidden;
    }

    .container__form-radio_man label,
    .container__form-radio_woman label {
        padding-left: calc(9 / 1440 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(14 / 1440 * 100vw);
        font-weight: 400;
        color: #787878;
    }

    .container__form-radio_man label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 1440 * 100vw);
        height: calc(12 / 1440 * 100vw);
        padding: calc(2 / 1440 * 100vw);
        border: 2px solid #787878;
        border-radius: 50%;
        background-clip: content-box;
    }

    .container__form-radio_man input:checked+label::before {
        transition: 0.2s;
        background-color: #787878;
    }

    .container__form-radio_woman label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 1440 * 100vw);
        height: calc(12 / 1440 * 100vw);
        padding: calc(2 / 1440 * 100vw);
        border: 2px solid #787878;
        border-radius: 50%;
        background-clip: content-box;
    }

    .container__form-radio_woman input:checked+label::before {
        transition: 0.2s;
        background-color: #787878;
    }

    .container__form-textarea {
        display: flex;
        flex-direction: column;
        margin-top: calc(11 / 1440 * 100vw);
    }

    .container__form-textarea label {
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 1440 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-textarea textarea {
        padding-left: calc(15 / 1440 * 100vw);
        padding-top: calc(7 / 1440 * 100vw);
        font-family: 'Roboto';
        font-size: calc(28 / 1440 * 100vw);
        line-height: calc(36 / 1440 * 100vw);
        font-weight: 700;
        width: calc(510 / 1440 * 100vw);
        height: calc(246 / 1440 * 100vw);
        border: 2px solid #787878;
        outline: none;
        resize: none;
        color: #787878;
    }

    .container__form-textarea textarea:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-textarea textarea::placeholder {
        color: #CCCCCC;
    }

    .container__form-checkbox {
        display: flex;
        align-items: center;
        position: relative;
        width: calc(312 / 1440 * 100vw);
        height: calc(24 / 1440 * 100vw);
        margin-top: calc(24 / 1440 * 100vw);
        margin-bottom: calc(56 / 1440 * 100vw);
    }

    .container__form-checkbox input {
        width: calc(24 / 1440 * 100vw);
        height: calc(24 / 1440 * 100vw);
        border: 2px solid #787878;
        visibility: hidden;
    }

    .container__form-checkbox label {
        padding-left: calc(10 / 1440 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(14 / 1440 * 100vw);
        font-weight: 400;
        color: #787878;
        user-select: none;
    }

    .container__form-checkbox label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 1440 * 100vw);
        height: calc(12 / 1440 * 100vw);
        padding: calc(4 / 1440 * 100vw);
        border: 2px solid #787878;
        background-clip: content-box;
    }

    .container__form-checkbox input:checked+label::before {
        background-color: #787878
    }

    .container__form-button {
        position: absolute;
        top: calc(786 / 1440 * 100vw);
        left: calc(210 / 1440 * 100vw);
        width: calc(180 / 1440 * 100vw);
        height: calc(52 / 1400 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(24 / 1400 * 100vw);
        border: none;
        font-weight: 700;
        color: #FFFFFF;
        background: #1A226B;
    }
}

@media screen and (max-width: 768px) {

    .header {
        display: flex;
        align-items: center;
        height: calc(80 / 768 * 100vw);
        box-shadow: 0px calc(4 / 768 * 100vw) calc(4 / 768 * 100vw) rgba(0, 0, 0, 0.25);
    }
    
    .header-logo {
        padding-left: calc(20 / 768 * 100vw);
        padding-top: calc(25 / 768 * 100vw);
        padding-bottom: calc(30 / 768 * 100vw);
    }
    
    .header-logo img {
        width: calc(124 / 768 * 100vw);
        height: calc(25 / 768 * 100vw);
    }
    
    .header-title {
        padding-left: calc(34 / 768 * 100vw);
        padding-top: calc(23 / 768 * 100vw);
        padding-bottom: calc(28 / 768 * 100vw);
    }
    
    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(24 / 768 * 100vw);
        color: #787878;
    }
    
    .header-login {
        display: flex;
        align-items: center;
        padding-left: calc(219 / 768 * 100vw);
        padding-top: calc(30 / 768 * 100vw);
        padding-bottom: calc(31 / 768 * 100vw);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(16 / 768 * 100vw);
        color: #787878;
    }
    
    .header-login__entry {
        padding-left: calc(36 / 768 * 100vw);
    }
    
    a {
        text-decoration: none;
        color: #787878;
    }
    
    .header-login__registration a:focus {
        color: #1A226B;
    }
    
    .header-login__entry a:focus {
        color: #1A226B;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(87 / 768 * 100vw);
        margin-right: auto;
        margin-bottom: calc(144 / 768 * 100vw);
        margin-left: auto;
        width: calc(600 / 768 * 100vw);
        height: calc(875 / 768 * 100vw);
        box-shadow: 0px 0px calc(40 / 1440 * 100vw) calc(10 / 1440 * 100vw) rgba(0, 0, 0, 0.25);
    }

    .container__title {
        margin-top: calc(26 / 768 * 100vw);
        margin-bottom: calc(36 / 768 * 100vw);
    }

    h2 {
        font-size: calc(50 / 768 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #787878;
    }

    .container__form-email {
        position: relative;
        width: calc(510 / 768 * 100vw);
        height: calc(49 / 768 * 100vw);
        margin-bottom: calc(32 / 768 * 100vw);
    }

    .container__form-password {
        position: relative;
        width: calc(510 / 768 * 100vw);
        height: calc(49 / 768 * 100vw);
        margin-bottom: calc(32 / 768 * 100vw);
    }

    .container__form-confirm {
        position: relative;
        width: calc(510 / 768 * 100vw);
        height: calc(49 / 768 * 100vw);
        margin-bottom: calc(11 / 768 * 100vw);
    }

    .container__form-email input,
    .container__form-password input,
    .container__form-confirm input {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: calc(15 / 768 * 100vw);
        font-weight: 700;
        font-size: calc(28 / 768 * 100vw);
        border: 2px solid #787878;
        color: #787878;
        outline: none;
    }
    .container__form-email input::placeholder {
        color: #CCCCCC;
    }

    .container__form-password input::placeholder {
        color: #CCCCCC;
    }

    .container__form-confirm input::placeholder {
        color: #CCCCCC;
    }

    .container__form-email label,
    .container__form-password label,
    .container__form-confirm label {
        position: absolute;
        top: calc(-21 / 768 * 100vw);
        left: calc(-12 / 768 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 768 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-email input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-password input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-confirm input:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-radio_title {
        margin-bottom: calc(5 / 768 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 768 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-radio_man,
    .container__form-radio_woman {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: calc(13 / 768 * 100vw);
        width: calc(510 / 768 * 100vw);
        height: calc(20 / 768 * 100vw);
    }

    .container__form-radio_man input,
    .container__form-radio_woman input {
        width: calc(20 / 768 * 100vw);
        height: calc(20 / 768 * 100vw);
        border: 2px solid #787878;
        visibility: hidden;
    }

    .container__form-radio_man label,
    .container__form-radio_woman label {
        padding-left: calc(9 / 768 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(14 / 768 * 100vw);
        font-weight: 400;
        color: #787878;
    }

    .container__form-radio_man label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 768 * 100vw);
        height: calc(12 / 768 * 100vw);
        padding: calc(2 / 768 * 100vw);
        border: 2px solid #787878;
        border-radius: 50%;
        background-clip: content-box;
    }

    .container__form-radio_man input:checked+label::before {
        transition: 0.2s;
        background-color: #787878;
    }

    .container__form-radio_woman label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 768 * 100vw);
        height: calc(12 / 768 * 100vw);
        padding: calc(2 / 768 * 100vw);
        border: 2px solid #787878;
        border-radius: 50%;
        background-clip: content-box;
    }

    .container__form-radio_woman input:checked+label::before {
        transition: 0.2s;
        background-color: #787878;
    }

    .container__form-textarea {
        display: flex;
        flex-direction: column;
        margin-top: calc(11 / 768 * 100vw);
    }

    .container__form-textarea label {
        font-family: 'Roboto', sans-serif;
        font-size: calc(16 / 768 * 100vw);
        font-weight: 700;
        color: #787878;
    }

    .container__form-textarea textarea {
        padding-left: calc(15 / 768 * 100vw);
        padding-top: calc(7 / 768 * 100vw);
        font-family: 'Roboto';
        font-size: calc(28 / 768 * 100vw);
        line-height: calc(36 / 768 * 100vw);
        font-weight: 700;
        width: calc(510 / 768 * 100vw);
        height: calc(246 / 768 * 100vw);
        border: 2px solid #787878;
        outline: none;
        resize: none;
    }

    .container__form-textarea textarea:focus::-webkit-input-placeholder {
        transition: 0.3s;
        color: transparent;
    }

    .container__form-textarea textarea::placeholder {
        color: #CCCCCC;
    }

    .container__form-checkbox {
        display: flex;
        align-items: center;
        position: relative;
        width: calc(312 / 768 * 100vw);
        height: calc(24 / 768 * 100vw);
        margin-top: calc(24 / 768 * 100vw);
        margin-bottom: calc(56 / 768 * 100vw);
    }

    .container__form-checkbox input {
        width: calc(24 / 768 * 100vw);
        height: calc(24 / 768 * 100vw);
        border: 2px solid #787878;
        visibility: hidden;
    }

    .container__form-checkbox label {
        padding-left: calc(10 / 768 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(14 / 768 * 100vw);
        font-weight: 400;
        color: #787878;
        user-select: none;
    }

    .container__form-checkbox label::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(12 / 768 * 100vw);
        height: calc(12 / 768 * 100vw);
        padding: calc(4 / 768 * 100vw);
        border: 2px solid #787878;
        background-clip: content-box;
    }

    .container__form-checkbox input:checked+label::before {
        background-color: #787878
    }

    .container__form-button {
        position: absolute;
        top: calc(786 / 768 * 100vw);
        left: calc(210 / 768 * 100vw);
        width: calc(180 / 768 * 100vw);
        height: calc(52 / 786 * 100vw);
        font-family: 'Roboto', sans-serif;
        font-size: calc(24 / 768 * 100vw);
        border: none;
        font-weight: 700;
        color: #FFFFFF;
        background: #1A226B;
    }
}